.calendar-body {
  border: solid 0.0625rem var(--color-calendar-border);
  border-top: none;
  border-radius: 0 0 0.1875rem 0.1875rem;
}

.calendar-body__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
